<nav class="detailNav">
    <ul>
        <li>
            <a href="javascript:history.back()">
                <img src="/static/icons/normal/back.svg" alt="Terug">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="/static/logo/logo-inkspire.svg" alt="Inspire logo">
            </a>
        </li>
        <li>
          <a href="/microinformation?img=<%= encodeURIComponent(img) %>&titel=<%= encodeURIComponent(titel) %>&userId=<%= encodeURIComponent(userId) %>&postId=<%= encodeURIComponent(postId) %>&description=<%= encodeURIComponent(description) %>&tags=<%= encodeURIComponent(tags.join(',')) %>">
            <img src="/static/icons/normal/micro-detail.svg" alt="micro detail informatie">
            </a>
        </li>
    </ul>
</nav>
