<!DOCTYPE html>
<html lang="nl">
  <head>
    <%- include('partials/head') %>
    <title><%= pageTitle %></title>
  </head>
  <body>
    <header>
      <%- include('partials/microHeader') %>
    </header>

    <h1>Zelfgemaakte Tattoos</h1>

    <section class="tattoo-grid" id="tattoo-grid">
      <% if (imageUrls && imageUrls.length > 0) { %>
          <% imageUrls.forEach(image => { %>
              <div class="tattoo-item">
                  <a class="carousel-link" data-url="<%= image.url %>" data-title="<%= image.alt_description || 'Tattoo afbeelding' %>">
                      <img src="<%= image.url %>" alt="<%= image.alt_description || 'Tattoo afbeelding' %>">
                  </a>
              </div>
          <% }); %>
      <% } else { %>
          <p>Er zijn geen tatoeages gevonden voor deze categorie.</p>
      <% } %>
    </section>

    <script src="/static/script/detailPages.js"></script>
  </body>
</html>
