<!DOCTYPE html>
<html>
<head>
  <%- include('partials/head') %>
</head>
<body>

  <header class="headerIndex"><%- include('partials/header') %></header>
<main>
      <ul class="tabs">
      <li class="tab active" data-tab="collections">
          <img src="/static/icons//normal/collection.svg" alt="Collectie" class="icon-normal">
          <img src="/static/icons/selected/collection-selected.svg" alt="Collectie geselecteerd" class="icon-selected hidden">
          <h2>Collectie</h2>
      </li>
      <li class="tab" data-tab="posts">
          <img src="/static/icons/normal/map.svg" alt="Post collectie" class="icon-normal">
          <img src="/static/icons/selected/map-selected.svg" alt="Post collectie geselecteerd" class="icon-selected hidden">
          <h2>Posts</h2>
      </li>
  </ul>

  <section class="content" id="collections">
      <div class="tattoo-grid">
      <% if (userImages && userImages.length > 0) { %>
        <% userImages.forEach(function(imageUrl) { %>
        <% }); %>
      <% } else { %>
        <p>No images available.</p>
      <% } %>
      </div>
  </section>

  <section class="tattoo-grid" id="tattoo-grid">
    <ul>
      <% posts.forEach(post => { %>
        <li>
          <a class="post-link" href="/detailpagina?img=<%= post.photo %>&postId=<%= post._id %>&title=<%= post.title %>&description=<%= post.description %>&tags=<%= JSON.stringify(post.tags) %>">
            <img src="<%= post.photo %>" alt="<%= post.title %>">
          </a>
          <p><strong>Beschrijving:</strong> <%= post.description %></p>
          <p><strong>Tags:</strong> <%= post.tags.join(", ") %></p>
          <p><strong>Gemaakt op:</strong> <%= post.createdAt.toDateString() %></p>
        </li>
      <% }) %>
    </ul>
  </section>
</main>
  <footer>
    <%- include('partials/nav') %>
  </footer>
  <!-- Scripts -->


  <script src="/static/script/tabs.js"></script>
  <script src="/static/script/nav.js"></script>
  <script src="/static/script/Addcollection.js"></script>
</body>
</html>
</body>
</html>

