<!DOCTYPE html>
<html lang="nl">
<head>
  <%- include('partials/head') %>
</head>
<body>
    <header><%- include('partials/header-detail') %></header>
    <main>
        <section class="detailInformatie">
          <h1><%= typeof titel !== "undefined" ? titel : "Geen titel beschikbaar" %></h1>

          <% if (typeof img !== "undefined" && img) { %>
            <img id="selectedImage" src="<%= img %>" alt="Geselecteerde afbeelding">
        <% } else { %>
            <p>Geen afbeelding gespecificeerd.</p>
        <% } %>

            <!-- icoontjes -->
            <a href="#">
                <img src="/static/icons/normal/profile.svg" alt="">
            <h4>naam gebruiker</h4>
            </a>
            <button>
                <img class="openDelen" src="/static/icons/normal/share.svg" alt="Delen">
            </button>
            <!-- <%- include('partials/share') %> -->
            <button>
                <img class="opslaan" src="/static/icons/normal/collection.svg" alt="Opslaan">
            </button>
        </section>

        <section class="gerelateerdeContent">
            <h3>Meer om te verkennen</h3>
            <ul>
                <li>
                    <a href="#">
                        <img src="#" alt="">
                        naamplaatje
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="#" alt="">
                        naamplaatje
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="#" alt="">
                        naamplaatje
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="#" alt="">
                        naamplaatje
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="#" alt="">
                        naamplaatje
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="#" alt="">
                        naamplaatje
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="#" alt="">
                        naamplaatje
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="#" alt="">
                        naamplaatje
                    </a>
                </li>
            </ul>
        </section>

        <section class="delen">
            <div>
                <img class="sluitDelen" src="static/icons/black/close.svg" alt="sluiten">
                <h3>Delen</h3>
            </div>
            <ul>
                <li>
                    <a href="#">
                        <img src="static/socials/facebook.svg" alt="Facebook">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="static/socials/instagram.svg" alt="Instagram">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="static/socials/linkedin.svg" alt="LinkedIn">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="static/socials/twitter.svg" alt="Twitter">
                    </a>
                </li>
            </ul>
        </section>

        <section class="previewUitleg">
            <img class="sluitPreview" src="static/icons/black/close.svg" alt="sluiten">
            <h3>Uitleg Tattoo Preview</h3>
            <p>Je kunt met behulp van je camera een preview krijgen van hoe deze tattoo op jouw lichaam zit!</p>
            <a href="#">Naar camera</a>
        </section>
    </main>
    <footer><%- include('partials/nav') %></footer>
    <script>
    document.addEventListener("DOMContentLoaded", function () {
        const params = new URLSearchParams(window.location.search);
        const imageUrl = params.get("img");
        const imageTitle = params.get("titel");

        console.log("Image URL:", imageUrl);
        console.log("Image Title:", imageTitle);

        if (imageUrl) {
            document.getElementById("selectedImage").src = decodeURIComponent(imageUrl);
        } else {
            console.error("Geen afbeelding URL gevonden!");
        }

        if (imageTitle) {
            document.getElementById("imageTitle").textContent = decodeURIComponent(imageTitle);
        }
    });
    </script>
</body>
</html>
