<<<<<<< HEAD
<html lang="nl">
<head>
  <%- include('partials/head') %>
</head>
<body>
  <header><%- include('partials/header-detail') %></header>
  <main>
      <section class="detailInformatie">
          <!-- titel plaatje -->
          <h1>titel van de afbeelding</h1>

          <!-- plaatje waarop geklikt is -->
          <img src="#" alt="">

          <!-- icoontjes -->
          <a href="#">
              <img src="static/icons/profile.svg" alt="">
          <h4>naam gebruiker</h4>
          </a>
          <!-- <button>
              <img id="openDelen" src="#" alt="Delen">
          </button> -->
          <%- include('partials/share') %>
          <button>
              <img src="static/icons/collection.svg" alt="Opslaan">
          </button>
      </section>

      <section class="gerelateerdeContent">
          <h3>Meer om te verkennen</h3>
          <ul>
              <li>
                  <a href="#">
                      <img src="#" alt="">
                      naamplaatje
                  </a>
              </li>
              <li>
                  <a href="#">
                      <img src="#" alt="">
                      naamplaatje
                  </a>
              </li>
              <li>
                  <a href="#">
                      <img src="#" alt="">
                      naamplaatje
                  </a>
              </li>
              <li>
                  <a href="#">
                      <img src="#" alt="">
                      naamplaatje
                  </a>
              </li>
              <li>
                  <a href="#">
                      <img src="#" alt="">
                      naamplaatje
                  </a>
              </li>
              <li>
                  <a href="#">
                      <img src="#" alt="">
                      naamplaatje
                  </a>
              </li>
              <li>
                  <a href="#">
                      <img src="#" alt="">
                      naamplaatje
                  </a>
              </li>
              <li>
                  <a href="#">
                      <img src="#" alt="">
                      naamplaatje
                  </a>
              </li>
          </ul>
      </section>
  </main>

  <footer>
    <%- include('partials/nav') %>
  </footer>

  <script src="/static/script/script.js"></script>
</body>
</html>
=======
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Big+Shoulders:opsz,wght@10..72,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap"
      rel="stylesheet"
    />
</head>
<body>
    <header><%- include('partials/header-detail') %></header>
    <main>
        <section class="detailInformatie">
            <!-- titel plaatje -->
            <h1>titel van de afbeelding</h1>
    
            <!-- plaatje waarop geklikt is -->
            <img src="#" alt=""> 
    
            <!-- icoontjes -->
            <a href="#">
                <img src="static/icons/normal/profile.svg" alt="">
            <h4>naam gebruiker</h4>
            </a>
            <button>
                <img class="openDelen" src="static/icons/normal/share.svg" alt="Delen">
            </button>
            <!-- <%- include('partials/share') %> -->
            <button>
                <img class="opslaan" src="static/icons/normal/collection.svg" alt="Opslaan">
            </button>
        </section>
    
        <section class="gerelateerdeContent">
            <h3>Meer om te verkennen</h3>
            <ul>
                <li>
                    <a href="#">
                        <img src="#" alt="">
                        naamplaatje
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="#" alt="">
                        naamplaatje
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="#" alt="">
                        naamplaatje
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="#" alt="">
                        naamplaatje
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="#" alt="">
                        naamplaatje
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="#" alt="">
                        naamplaatje
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="#" alt="">
                        naamplaatje
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="#" alt="">
                        naamplaatje
                    </a>
                </li>
            </ul>
        </section>

        <section class="delen">
            <div>
                <img class="sluitDelen" src="static/icons/black/close2.svg" alt="sluiten">
                <h3>Delen</h3>
            </div>
            <ul>
                <li>
                    <a href="#">
                        <img src="static/socials/facebook.svg" alt="Facebook">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="static/socials/instagram.svg" alt="Instagram">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="static/socials/linkedin.svg" alt="LinkedIn">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="static/socials/twitter.svg" alt="Twitter">
                    </a>
                </li>
            </ul>
        </section>

        <section class="previewUitleg">
            <img class="sluitPreview" src="static/icons/black/close2.svg" alt="sluiten">
            <h3>Uitleg Tattoo Preview</h3>
            <p>Je kunt met behulp van je camera een preview krijgen van hoe deze tattoo op jouw lichaam zit!</p>
            <a href="#">Naar camera</a>
        </section>
    </main>
    <footer><%- include('partials/nav') %></footer>
</body>
</html>
>>>>>>> 1258047 (pls werk)
