<!DOCTYPE html>
<html lang="nl">
<head>
  <%- include('partials/head') %>
</head>
<body>
  <header><%- include('partials/header') %></header>

  <main>
    <h1><%= artist.username %></h1>
    <p><strong>Studio:</strong> <%= artist.studio.name %></p>
    <!-- Voeg hier meer details toe over de artiest -->
  </main>

  <footer>
    <%- include('partials/nav') %>
  </footer>

  <script src="/static/script/script.js"></script>
</body>
</html>
