<!DOCTYPE html>
<html lang="nl">
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <header><%- include('partials/header-detail') %></header>
    <main>
      <section class="detailInformation">
        <h1>
          <%= typeof titel !== "undefined" ? titel : "Geen titel beschikbaar" %>
        </h1>

        <% if (typeof img !== "undefined" && img) { %>
        <img
          id="selectedImage"
          src="<%= img %>"
          alt="Geselecteerde afbeelding"
        />
        <% } else { %>
        <p>Geen afbeelding gespecificeerd.</p>
        <% } %>

        <!-- icoontjes -->
        <a href="/artiesten">
          <img src="/static/icons/normal/profile.svg" alt="Profiel icoon" />
          <h4>Tattoo plaatsen? Vind jouw artiest!</h4>
        </a>
        <button>
          <img
            class="openShare"
            src="/static/icons/normal/share.svg"
            alt="Delen"
          />
        </button>

        <button class="add-to-collection" data-url="<%= img %>">
          <img
            class="save"
            src="/static/icons/normal/collection.svg"
            alt="Opslaan"
          />
        </button>
      </section>

      <h3 class="headerTattoo-grid">Meer om te verkennen</h3>
      <section class="tattoo-grid" id="tattoo-grid">
        <% if (typeof gridImages !== 'undefined' && Array.isArray(gridImages) && gridImages.length > 0) { %>
          <% gridImages.forEach(image => { %>
            <img
              src="<%= image.url %>"
              alt="<%= image.alt_description || 'Tattoo Image' %>"
              data-id="<%= image.id %>"
              class="clickable-image"
            />
          <% }) %>
        <% } else { %>
          <p>Geen afbeeldingen gevonden voor deze zoekopdracht.</p>
        <% } %>
      </section>

      <section class="share">
        <div>
          <img
            class="closeShare"
            src="static/icons/black/close.svg"
            alt="Sluiten"
          />
          <h3>Delen</h3>
        </div>
        <ul>
          <li>
            <a href="https://www.facebook.com">
              <img src="static/icons/socials/facebook.svg" alt="Facebook" />
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/">
              <img src="static/icons/socials/instagram.svg" alt="Instagram" />
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/">
              <img src="static/icons/socials/linkedin.svg" alt="LinkedIn" />
            </a>
          </li>
          <li>
            <a href="https://www.x.com/">
              <img src="static/icons/socials/X.svg" alt="X vroeger heette het Twitter" />
            </a>
          </li>
        </ul>
      </section>
    </main>
    <footer><%- include('partials/nav') %></footer>
    <script src="/static/script/saveImage.js"></script>
    <script src="/static/script/share.js"></script>
    <script src="/static/script/detailPages.js"></script>
    <script src="/static/script/Addcollection.js"></script>

  </body>
</html>
