<!DOCTYPE html>
<html lang="nl">
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <header><%- include('partials/header') %></header>
    <main>
      <% var userPreferences = userPreferences || {}; %>
      <% var isArtist = typeof isArtist !== 'undefined' ? isArtist : false; %>
      <section class="intro">
        <h1>Inspiration for your tattoo</h1>
      </section>
      <section class="carousel-section">
        <section class="carousel" id="tattoo-carousel">
            <% if (!userPreferences || !userPreferences.preferences || !userPreferences.preferences.tattooStijl || userPreferences.preferences.tattooStijl.length === 0) { %>
            <div class="zero-state">
                <h3>
                    Geen gepersonaliseerde tattoo's gevonden. Vul de vragenlijst in voor suggesties.
                </h3>
                <a href="/questionnaire" class="preference-button">Naar vragenlijst</a>
            </div>
            <% } else { %>
            <%- include('partials/carousel', { styles: userPreferences.preferences.tattooStijl, colors: userPreferences.preferences.tattooKleur, tattooPlek: userPreferences.preferences.tattooPlek, woonplaats: userPreferences.preferences.woonplaats }) %>
            <% } %>
        </section>
    </section>
      <section class="filtersorting">
      <%- include('partials/sorting', { currentSort }) %>
    </section>
    <section class="search">
      <%- include('partials/searchbar') %>
      <%- include('partials/filter') %>
    </section>


      <section class="tattoo-grid" id="tattoo-grid">
        <% if (gridImages && gridImages.length > 0) { %> <%
        gridImages.forEach(image => { %>
        <img
          src="<%= image.url %>"
          alt="<%= image.alt_description || 'Tattoo Image' %>"
          data-id="<%= image.id %>"
        />
        <% }) %> <% } else { %>
        <p>Geen afbeeldingen gevonden voor deze zoekopdracht.</p>
        <% } %>
        <div
          id="imageUrlsData"
          data-image-urls="<%= JSON.stringify(gridImages) %>"
        ></div>
      </section>
    </main>

    <footer>
      <% if (isArtist) { %> <%- include('partials/navA') %> <% } else { %> <%-
      include('partials/nav') %> <% } %>
    </footer>

    <script src="/static/script/filter.js"></script>
    <script src="/static/script/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
  </body>
</html>
