<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="static/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Big+Shoulders:opsz,wght@10..72,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
  </head>
  <body>
    <!-- Header -->
    <header><%- include('partials/header') %></header>

    <main>
      <!-- Titel -->
      <section class="intro">
        <h1>Inspiration for your tattoo</h1>
      </section>

      <!-- Zoekfunctionaliteit -->
      <section class="search"><%- include('partials/searchbar') %></section>
      <section class="filtersorting">
        <%- include('partials/sorting') %>
        <%- include('partials/filter') %> 
      </section>

      <!-- Carousel met unieke ideeën -->
      <section class="carousel-section">
        <div class="textcontainer">
          <h2>Unieke ideeën</h2>
          <a href="" alt="">Zie alle</a>
        </div>
        <div class="carousel"><%- include('partials/carousel') %></div>
      </section>
      <section class="carousel-container">
       <%- include('partials/carouselvertical') %>
    </section>
    </main>

    <!-- Footer -->
    <footer><%- include('partials/nav') %></footer>

    <!-- Scripts -->
    <script src="server.js"></script>
    <script src="/static/script.js"></script>
  </body>
</html>
