<!DOCTYPE html>
<html lang="nl">
  <head>
    <%- include('partials/head') %>
    <title><%= pageTitle %></title>
  </head>
  <body>
    <header class="headerIndex">
      <a href="javascript:history.back()">
        <img src="/static/icons/normal/back.svg" alt="Terug">
      </a>
      <%- include('partials/header') %>
      <h1>Zelfgemaakte Tattoos</h1>
    </header>

    <section class="tattoo-grid" id="tattoo-grid">
      <% if (posts && posts.length > 0) { %>
          <% posts.forEach(post => { %>
              <div class="tattoo-item">
                  <a class="post-link" data-id="<%= post._id %>" data-photo="<%= post.photo %>" data-title="<%= post.title %>">
                      <img src="<%= post.photo %>" alt="<%= post.title %>">
                  </a>
                  <h4><%= post.title %></h4>
              </div>
          <% }); %>
      <% } else { %>
          <p>Er zijn nog geen zelfgemaakte tatoeages toegevoegd.</p>
      <% } %>
  </section>

    <script src="/static/script/detailPages.js"></script>
  </body>
</html>
